#avatar {
  width: 8em;
  margin-top: 2em;
}

header.profile-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.profile-section-avatar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.profile-section-user span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  font-family: "Delius Unicase";
  font-size: 1.2em;
  color: white;
}

span.login-info {
  margin-top: 1em;
  font-family: "Roboto";
  font-size: 1.2em;
  text-decoration: underline;
  padding: 1em;
  border-radius: 1em;
}
