
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #00B0A6;
  z-index: 100;
  font-family: "Delius Unicase";
  font-size: 2em;
  padding: 1em;
}

#left-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

span#header {
  margin-left: 1em;
  font-size: 1em;
}

#superior-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
}

#nav-logo {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

button.create-new-tweet {
  margin-right: 1em;
  background-color: #FFE01A;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 1em;
}

button.create-new-tweet:hover {
  background-color: #42FF00;
}

button span.name{
  font-size: 0.8em;
  font-family: "Roboto";
  font-weight: 400;
  padding: 0.2em;
  line-height: 2em; 
}

@media only screen and (max-width: 1025px) {
  main.container {
    width: 60%;
    margin: auto;
  }

  body {
    display: flex;
    flex-direction: column;
    padding-top: 9em;
    box-sizing: border-box;
  }

  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 10em;
    top: 0;
    left: 0;
    background-color: #00B0A6;
    /* z-index: 1000; */
    font-family: "Delius Unicase";
    font-size: 1.5em;
    padding: 1em;
    margin-bottom: 2em;
    box-sizing: border-box;
  }

 #left-nav {
   flex-direction: row;
   justify-content: center;
   margin-top: 2em;
   margin-bottom: 2em;
 }
 #right-nav {
   flex-direction: row;
   justify-content: center;
   padding-bottom: 0.5em;
 }

 #nav-logo {
  width: 50px;
  height: 50px;
  margin-left: 0;
 }


}